{% extends 'base.html' %}
{% block content %}
   <div>
    <div class="column is-12">

    <h1 class="title">
        todos
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="field">
            <div class="control">
                <button class="button primary">Submit</button>
            </div>
        </div>

    </form>
    </div>

    <div class="column is-12">

    {% for todo in todos %}
        <p>{{ todo.title }} <a href="{% url 'todo' todo.id %}">view details</a></p>

        {% empty %}
        <p>you don't have any todos yet.....</p>
    {% endfor %}

    </div>
   </div>
{% endblock %}